# iterations in python
1. iterations means loops to work with repeatative tasks or performances
2. python have two types of interations
3. `for` loop
4. `while` loop

```python - for loop
for iter_variables in scquences:
    print("for is keyword to start for loop")
    print("iter_variable is one type of variable to iterate data from sequence")
    print("in is a keyword to validate sequence is present or not")
    print("sequence is collection like range , list , string , tuple,...etc")
```

```python - while loop
while (condition):
    print("while is a keyword to start the iteration  based on condition")
    print("condition is True then executed inside statements")

In [1]:
#write a program to print 1 to 50 numbers using for loop?
for num in range(1,51):
    print(num)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [2]:
#write a program to iterate name using for loop?
name="shivaji"
for char in name:
    print(char)

s
h
i
v
a
j
i

In [3]:
#write a program to find even numbers in between 100 to 150 using for loop?
for n in range(100,151):
    if (n%2==0):
        print(n,end=",")

100,102,104,106,108,110,112,114,116,118,120,122,124,126,128,130,132,134,136,138,140,142,144,146,148,150,

In [2]:
#write a program to find odd in between 100 to 150 using for loop?
for num in range(100,151):
    if (num%2==1):
        print(num,end=",")

101,103,105,107,109,111,113,115,117,119,121,123,125,127,129,131,133,135,137,139,141,143,145,147,149,

In [3]:
#write a program to find vowels from string by using for loop?
name=str(input("please enter your name here:"))
for char in name:
    if (char in "aeiouAEIOU"):
        print(char)

please enter your name here: rithvik

i
i

In [2]:
names=["vikas","suhas","sahas"]
for n in names:
    print(n)

vikas
suhas
sahas

In [1]:
#write a program to find non vowels from string by using for loop?
name=str(input("please enter name here:"))
for char in name:
    if (char not in "AEIOUaeiou"):
        print(char)

please enter name here: husky

h
s
k
y

In [ ]:
#1.write a program to find the sum of all numbers in between 1 to 100 using for loop?
#2.write a program to find the sum of all even numbers

In [8]:
for num in range(1,101):
      sum(num)
    print(sum(num))

IndentationError: unindent does not match any outer indentation level (<string>, line 3)